{sub_dirs, [
            "apps/eamid",
            "rel"
           ]}.
{erl_opts, [debug_info, fail_on_warning]}.
{sub_dirs, ["rel","apps" ,"apps/eamid","deps/cowboy","deps/proper"]}.
{deps_dir, ["deps"]}.
{deps, [
	{proper, "1.0",
		{git, "git://github.com/manopapad/proper.git", {tag, "v1.0"}}},
	{cowboy, ".*",
		{git, "git://github.com/extend/cowboy.git", "master"}},
	{erlydtl, ".*",
		{git, "git://github.com/evanmiller/erlydtl.git", "master"}},
	{setuid, ".*",
		{git, "git://github.com/pantsu/erlang-setuid.git", "master"}}
	
]}.


{require_otp_vsn, "R14"}.

